# macOS
.DS_Store
.AppleDouble
.LSOverride

# Package manager
yarn-error.log
node_modules

# Temp sources in local runner
.rollup.cache
tsconfig.tsbuildinfo
**/examples/**
!**/examples/example_*

# Next.js
.next

# Build files
dist
